@model BloodDonar.Models.RegisterationMV

 <!--  HOME SLIDER BLOCK  -->

<div class="slider-wrap">
    <div id="slider_1" class="owl-carousel" data-nav="true" data-dots="false" data-autoplay="true" data-autoplaytimeout="17000">

        <div class="slider_item_container" data-bg_img="~/Content/Templet/home_1_slider_1.jpg" data-bg_color="#555555" data-bg_opacity="0.0">
            <div class="item">
                <div class="slider-content">
                    <div class="container text-left">
                        <div class="row">
                            <div class="slider-bg">
                                <div class="col-sm-12 wow zoomInUp" data-wow-duration="1s">

                                    <h3>Donate blood,save life !</h3>
                                    <h2>
                                        YOUR BLOOD
                                        <br>
                                        CAN BRING SMILE
                                        <br />
                                        IN OTHER PERSON FACE
                                    </h2>
                                    <a href="#" class="btn btn-theme margin-top-24">Donate Now</a>
                                    <a href="#" class="btn btn-theme btn-theme-invert margin-top-24">CALL : </a>
                                </div>
                            </div> <!-- end .col-sm-12  -->
                        </div> <!-- end .row  -->
                    </div><!-- end .container -->
                </div> <!--  end .slider-content -->
            </div> <!-- end .item  -->
        </div> <!-- end .slider_item_container  -->

        <div class="slider_item_container" data-bg_img="~/Content/Templet/home_1_slider_2.jpg" data-bg_color="#555555" data-bg_opacity="0.0">
            <div class="item">
                <div class="slider-content">
                    <div class="container text-left">
                        <div class="row">
                            <div class="slider-bg" data-animation-in="zoomInUp" data-animation-out="zoomInDown">
                                <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">

                                    <h3>Donate blood,save life !</h3>
                                    <h2>
                                        DONATE BLOOD
                                        <br>
                                        AND INSPIRES OTHERS.
                                    </h2>
                                    <a href="#" class="btn btn-theme margin-top-24">Donate Now</a>
                                </div>
                            </div> <!-- end .col-sm-12  -->
                        </div> <!-- end .row  -->
                    </div><!-- end .container -->
                </div> <!--  end .slider-content -->
            </div> <!-- end .item  -->
        </div> <!-- end .slider_item_container  -->

    </div> <!-- end .slider_1  -->
</div> <!-- end .slider-wrap.  -->
<!--  FEATURED ABOUT US SECTION-->

<section class="section-content-block">

    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="about-us-container theme-custom-box-shadow">

                    <div class="row section-heading-wrapper margin-bottom-11">

                        <div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                            <h2><strong>Who We Are?</strong></h2>
                            <span class="heading-separator heading-separator-horizontal"></span>
                        </div> <!-- end .col-sm-10  -->

                    </div>

                    <div class="about-details">

                        <p>Blood Buddies is for public donation center with blood donation members in the changing health care system.</p>


                        <ul class="custom-bullet-list">
                            <li>Specialist blood donors and clinical supervision.</li>
                            <li>Increasing communication with our members.</li>
                            <li>High quality assessment, diagnosis and treatment.</li>
                            <li>Examine critically to ensure alignment.</li>
                            <li>The extra care of a multi-disciplinary team.</li>
                        </ul>

                    </div> <!--  end .about-details -->

                </div>

            </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12 -->


            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <figure class="about-img theme-custom-box-shadow">
                    <a class="venobox wow bounceIn" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=nrJtHemSPW4"><i class="fa fa-play"></i></a>
                    <img src="~/Content/Templet/about_feat_bg.jpg" alt="about" />
                </figure> <!-- end .cause-img  -->

            </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12  -->

        </div> <!--  end .row  -->
    </div>

</section> <!--  end .section-about-us -->





<!--  SECTION APPOINTMENT BOX -->



<!--  SECTION APPOINTMENT   -->

<section class="section-content-block section-secondary-bg">

    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-left no-img-separator">
                        <h4>Good To Know</h4>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2>
                            Helpful Information
                        </h2>

                    </div> <!-- end .col-sm-10  -->

                </div>

                <div class="about-details">

                    <ul class="custom-bullet-list">
                        <li>Maintain a healthy iron level by eating iron rich foods.</li>
                        <li>Drink an extra 16 oz. of water prior to your donation.</li>
                        <li>Avoid alcohol consumption before your blood donation.</li>
                        <li>Remember to bring the donor card or national ID/Passport.</li>
                        <li>Finally, Try to get a good night sound sleep after donation.</li>
                    </ul>

                </div> <!--  end .about-details -->

            </div> <!--  end col-lg-6  -->


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-appointment-reverse">

                <div class="appointment-form-wrapper theme-custom-box-shadow text-center clearfix wow zoomIn">
                    <h3 class="join-heading join-heading-alt"> Registration</h3>

                    @using (Html.BeginForm("SelectUser", "Registration", FormMethod.Post, new { @class = "appoinment-form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group col-md-6">


                            @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "UserName", @type = "text" } })
                            @Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.User.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "email", @type = "email" } })
                            @Html.ValidationMessageFor(model => model.User.EmailAddress, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "password", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-md-6">
                            <div class="select-style">
                                @Html.DropDownList("UserTypeID", null, "--Relationship--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserTypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "ContactNo" } })
                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-6">
                            <div class="select-style">


                                @Html.DropDownList("CityID", null, "--your city--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">

                            @Html.TextAreaFor(model => model.User.Description, 4, 12, new { @class = "form-control", @placeholder = "your message" })
                            @Html.ValidationMessageFor(model => model.User.Description, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <button id="btn_submit" class="btn btn-theme" type="submit">submit</button>
                        </div>

                    }

                </div> <!-- end .appointment-form-wrapper  -->

            </div> <!--  end .col-lg-6 -->

        </div> <!--  end .row  -->

        <div class="row wow fadeIn">

            > <!--  end .col-lg-3  -->
 <!--  end .col-lg-3  -->


        </div> <!-- end row  -->

    </div> <!--  end .container -->

</section>  <!--  end .appointment-section  -->
<!-- SECTION TEAM   -->



